body#body-help, body#body-settings {
    background: linear-gradient(to bottom, white, white 100px, transparent 100px, transparent),
                linear-gradient(to right, #ecf2f4, #ecf2f4 164px, white 164px, white);
                
}

#header-site {
    display:flex;
    align-items: center;
    background: none;
    color: #102a83;
    padding-top: 4px;
    margin-left: 4px;
    border: none;
}

#header-site:before {
    margin-left: 10px;
    margin-right: 10px;
    background-image: url('https://iacr.org/img/logo/iacrlogo_small.png');
    background-size: 75px 75px;
    display:inline-block;
    height:75px;
    width:75px;
    content:"";
}
